@font-face {
  font-family: "ProximaNova";
    src:  url("./fonts/ProximaNova-Light.woff") format("woff"),
          url("./fonts/ProximaNova-Light.ttf") format("truetype"),
          url("./fonts/ProximaNova-Light.eot") format("embedded-opentype");
  font-weight: 300;
}
@font-face {
  font-family: "ProximaNova";
    src:  url("./fonts/ProximaNova-Regular.woff") format("woff"),
          url("./fonts/ProximaNova-Regular.ttf") format("truetype"),
          url("./fonts/ProximaNova-Regular.eot") format("embedded-opentype");
  font-weight: 400;
}
@font-face {
  font-family: "ProximaNova";
    src: url("./fonts/ProximaNova-Semibold.woff") format("woff"),
         url("./fonts/ProximaNova-Semibold.ttf") format("truetype"),
         url("./fonts/ProximaNova-Semibold.eot") format("embedded-opentype");
  font-weight: 600;
}
@font-face {
  font-family: "ProximaNova";
    src:  url("./fonts/ProximaNova-Bold.woff") format("woff"),
          url("./fonts/ProximaNova-Bold.ttf") format("truetype"),
          url("./fonts/ProximaNova-Bold.eot") format("embedded-opentype");
  font-weight: 700;
}